@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'KarantinaRegular';
  src: url('./assets/fonts/Karantina-Regular.ttf') format('truetype');
  font-weight: normal;
}

html {
  font-family: KarantinaRegular;
}

.marquee {
  background-image: url('./assets/png/clouds.png');
  animation: scroll linear 10s infinite;
}

.stars {
  background-image: url('./assets/png/starts.png');
  animation: scroll linear 30s infinite;
}

@keyframes scroll {
  from {
    background-position: 100vw 0;
  }
  to {
    background-position: -100vw 0;
  }
}
