body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 10px;

  color: #ffffff;
  // background: linear-gradient(180deg, #9C59FE 0%, #6F53FD 100%);
}

a {
  color: var(--tg-theme-link-color);

  &:hover {
    color: var(--tg-theme-link-color);
  }
}

button {
  color: var(--tg-theme-button-text-color);
  background: var(--tg-theme-button-color);
  border-radius: 5px;
  border: 0;
  font-size: 1rem;
  cursor: pointer;
}

.active {
  background: gray;
}

.row {
  flex-direction: row;
}
.column {
  flex-direction: column;
}
.mr-2 {
  margin-right: 8px;
}
